/* General styling  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Manrope:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Manrope:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Nav section */
.navbar {
  width: 100%;
  position: relative;
  padding: 10px 30px;
}

.navs {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.brand-title {
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navs .nav-list .nav-list-item {
  text-transform: capitalize;
  padding: 10px 24px;
}

.navs .nav-list .nav-list-item .nav-links {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #042552;
}

.navs .nav-list .nav-list-item.active .nav-links {
  background: #0d59ef;
  border-radius: 50px;
  color: #fff;
  padding: 10px 24px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* Banner Section */
.banner {
  display: flex;
  align-items: center;
  background-image: url("images/new-banner-5\ 1.png");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .banner-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

.banner-inner .banner-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 60px;
  line-height: 73px;
  margin-bottom: 20px;
}

.banner-inner .banner-desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.banner-buttons {
  position: relative;
}

.banner-buttons button {
  width: 180px;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0px 10px;
  padding: 10px 24px;
  outline: none;
  color: #ffffff;
}

.bg {
  background: #0d59ef;
  border: none;
}

.outline {
  background: transparent;
  border: 1px solid #ffffff;
}

.how-it-works {
  width: 100%;
  position: relative;
  padding: 2rem;
}

.how-it-works-inner {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.how-it-works-inner .work-box {
  width: 250px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(13, 89, 239, 0.06);
  border-radius: 10px;
  padding: 1.5rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  display: grid;
  grid-gap: 0;
  justify-content: center;
  align-items: center;
}

.work-box h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #042552;
  text-transform: capitalize;
}

.work-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #042552;
  opacity: 0.7;
}

/* Reports */
.report {
  position: relative;
  width: 100%;
  padding: 20px;
  background: #042044;
}

.report-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reports {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.reports img {
  margin-right: 20px;
}

/* Information */
.information {
  padding: 5rem 3rem;
  width: 100%;
  position: relative;
}

.information-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: self-start;
}

.info-image {
  position: relative;
}

.info-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info-content {
  padding: 2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.info-content h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 124%;
  letter-spacing: 0.12px;
  color: #042552;
  margin-bottom: 10px;
}

.info-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.12px;
  color: rgba(30, 37, 50, 0.6);
}

.infos {
  display: grid;
  margin-top: 30px;
}

.infos .infos-inner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  background: #ffffff;
  box-shadow: 4.66667px 32.6667px 46.6667px rgba(83, 117, 134, 0.08);
  border-radius: 10px;
  padding: 1rem;
}

.infos .infos-inner img {
  margin-right: 20px;
}

/* Scammers */
.scammers {
  background: url("images/Rectangle\ 2.png");
  width: 100%;
  padding: 3rem;
  text-align: center;
}

.scammer-inner {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.scammer-header {
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
}

.scammer-contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.scammer {
  width: 300px;
  background: #ffffff;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.scammer h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  margin: 18px 0;
}

.scammer h4 .rate {
  background: rgba(173, 32, 32, 0.3);
  border-radius: 15.3226px;
  padding: 6px 32px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.scammer p {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #ad2020;
}

.scammer a {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.scammer a img {
  margin-left: 5px;
}

.scammers-btn {
  margin-top: 30px;
}

.scammers-btn a {
  width: 180px;
  border-radius: 50px;
  font-family: "Manrope";
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0px 10px;
  padding: 10px 24px;
  outline: none;
  color: #ffffff;
  background: #0d59ef;
}

/* Testimonials */
.testimonial {
  padding: 3rem 0;
  padding-left: 4rem;
  width: 100%;
  position: relative;
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;
  margin-bottom: 30px;
}

.testimonial-header .testimonial-heading {
  position: relative;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.testimonial-heading h5 {
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #645cfe;
}

.testimonial-heading h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0.12px;
  color: #042552;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.testimonials .testimonial-box {
  width: 350px;
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(13, 89, 239, 0.06);
  border-radius: 10px;
  margin-left: 20px;
  padding: 2rem;
}

.testimonials .testimonial-box img {
  width: 55px;
  height: 55px;
}

.profile {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.profile .profile-details {
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin-left: 20px;
}

.profile .profile-details h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #042552;
  margin-bottom: 10px;
}

.profile .profile-details p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #042552;
  opacity: 0.7;
}

.testimonial-desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: rgba(30, 37, 50, 0.6);
}

/* Feel like being scammed */
.scammed {
  padding: 3rem;
  width: 100%;
  position: relative;
}

.scammed-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  width: 50vw;
  margin: 0 auto;
  position: relative;
}

.scammed-inner h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.12px;
  margin: 20px 0;
  color: #042552;
}

.scammed img {
  position: absolute;
  top: 24%;
  right: 18%;
}

.scammed-inner p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: rgba(30, 37, 50, 0.6);
  margin: 10px 0;
}

.fraud {
  display: flex;
}

#case {
  border: 1px solid #0d59ef;
  color: #0d59ef;
}

/* Footer */
footer {
  background: #042552;
}

footer .footer-inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3rem;
}

footer .footer-inner .footer-items {
  display: flex;
  flex-direction: column;
  position: relative;
}

footer .footer-inner .footer-items a {
  margin-bottom: 15px;
}

footer .footer-inner .footer-items h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

footer .footer-inner .footer-items ul li,
footer .footer-inner .footer-items p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.3;
  padding: 8px 0;
  max-width: 300px;
}

footer .foot-note {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

footer .foot-note p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0.3;
}

/* Media queries */
@media (max-width: 1024px) {
  .banner {
    width: 100%;
    height: 600px;
    background-size: cover;
  }

  .navs .nav-list .nav-list-item {
    padding: 10px;
  }
  
  .navs .nav-list .nav-list-item .nav-links {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  

.navs {
  flex-direction: column;
  align-items: flex-start;
}

.toggle-button {
  display: flex;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links ul {
  width: 100%;
  flex-direction: column;
}

.navbar-links ul li {
  text-align: center;
}

.navbar-links.active {
  display: flex;
}

  .banner .banner-inner {
    width: 80vw;
  }

  .banner-inner .banner-title {
    font-size: 45px;
    line-height: 55px;
  }

  .how-it-works-inner .work-box {
    width: 200px;
  }

  .info-content {
    padding: 0;
  }

  .scammers {
    padding: 2rem;
  }

  .scammer-contents {
    display: grid;
    grid-template-columns: auto auto;
  }

  .scammer {
    width: 100%;
    margin-bottom: 20px;
  }

  .scammed img {
    top: 28%;
    right: 8%;
    width: 120px;
    height: 40px;
}

  .controls img {
    width: 45px;
    height: 45px;
  }

  .testimonial-heading h2 {
    font-size: 22px;
    line-height: 35px;
  }

  .testimonials .testimonial-box {
    padding: 1rem;
    width: 100%;
  }

  .profile .profile-details {
    margin-left: 8px;
  }

  .profile .profile-details h4 {
    font-size: 13px;
    line-height: 22px;
  }

  .profile .profile-details p {
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: #042552;
    opacity: 0.7;
  }
}

@media (max-width: 600px) {
  .navs {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    flex-direction: column;
  }

  .how-it-works-inner {
    grid-template-columns: auto;
  }

  .banner-inner .banner-title {
    font-size: 30px;
    line-height: 40px;
  }

  .banner-buttons button {
    margin-bottom: 20px;
  }

  .how-it-works-inner .work-box {
    width: 250px;
  }

  .report-inner {
    flex-direction: column;
  }

  .reports {
    justify-content: space-evenly;
    margin-bottom: 25px;
    width: 100%;
  }

  .reports img {
    margin-right: 0;
  }

  .information-inner {
    flex-direction: column;
  }

  .information {
    padding: 2rem;
  }

  .info-content h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .scammer-contents {
    grid-template-columns: auto;
  }

  .testimonial {
    padding-left: 0;
  }

  .testimonial-header {
    padding-left: 0;
    padding-right: 0;
    padding: 1.4rem;
  }

  .testimonials {
    flex-direction: column;
    padding: 1rem;
  }

  .testimonial .testimonial-box {
    margin-left: 0;
    margin-bottom: 13px;
  }

  .controls img {
    width: 25px;
    height: 25px;
  }

  .scammed {
    padding: 3rem 0;
  }

  .scammed img {
    top: 10%;
    right: 5%;
    width: 120px;
    height: 60px;
  }

  .scammed-inner h2 {
    font-size: 20px;
}

  .scammed-inner {
    width: 80vw;
  }

  .fraud {
    flex-direction: column;
  }

  footer .footer-inner {
    flex-direction: column;
  }

  footer .footer-inner .footer-items {
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .scammed img {
    top: 15%;
    right: 10%;
    width: 120px;
    height: 60px;
  }
}

@media (max-width: 320px) {
  .scammer h4 .rate {
    padding: 6px 22px;
  }

  .scammer {
    padding: 1.5rem;
  }

  .scammed img {
    top: 18%;
    right: 8%;
    width: 120px;
    height: 40px;
}
}
